<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Pirata">
        <meta name="copyright" content="© 2021 Cyber Piratas">
        <meta name="description" content="Cyber Piratas una web para aprender programación informática al disfrutar los videojuegos.">
        <meta name="keywords" content="cyber, twitch, reclutación, wot spain, spain clan, directo, directos, codigo limpio, limpio, youtube, live, lives, stream, streaming, pirata, piratas, software, escribir, crear, official, anonymous, c++, c mas mas, c, plus plus, c más más, c, c#, linux, coding, tutorial, tutoriales, curso, aprender, cursos, hacking, ethical, operativo, sistema, sistemas, gaming, juegos, video, vidio, vidiojuegos, live, directo, directos, livestream, java, pyhton, python3, flask, websites, diseño, diseñoweb, webdiseño, web, website, mobile application, celulares, celular, applicación, applicacion, mobile, phones, phone, app, rust, free games, juegos gratis, videojuegos gratis, vidiojuegos gratis, vidio juegos gratis, video juegos gratis, youtube, twitch, make, money, online, dinero, generar, ingresos, internet, community, comunidad, freelancer, freelancers, digital, home office, trabajo, desde, casa, trabajar, trabajo online, computadora, basics of cpp, basicos de cpp, básicos de c++, básicos de cpp, basicos de c++, cpp, g++, basics of coding, basicos de la programación, básicos de la programación, básicos de la programacion, informática, informatica, basics of programing, computing, computación, computacion, free, games, free games, gratis, open, libre, source, open source, maths, matematicas, mátemáticas, matemáticas, mathematics, physics, fisica, física, science, ciencia, fiction, ficción, ficcion, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, commandos, syntax, sintaxis, syntaxis, compile, compilador, set up, install, instalación, source, fuente, fuente de codigo, example, examples, ejemplo, ejemplos, security, seguridad, cyber, cyber security, english, inglés, beginner, principiantes, c++ para empezar,  c++ for beginners, beginners, empezar, ctf, CTF, capture the flag, capture flag, coding challenge, challange de codigo, challanges de códigos, challange de código,  challenge, pen test, penetration, pentest, penetración, penetracion, penetration testing, testing, object oriented programming, prorgamación orientada a objetos, objetos, objeto, programacion orientada a objetos, object, oriented, key logger, keylogger, key, logger, cloud, nube, hackers, cyber hackers, hactivists, hacktivism, hacktivismo, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, experimento, experimentos, ejercicio, ejercicios, bit, coin, coins, BTC, btc, invite, invitación, invitacion, gifts, regalos, regalo, gift, crypto, currency, monedas, eng, esp, hun, castellano, espanol, español, tutoriales, tutorial">
        <meta name="Subject" content="Videojugeos Gratis!">
        <meta name="expires" content="never" />
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
        <meta http-equiv="content-language" content="es">
        <meta name="language" content="Spanish">
        <meta name="Distribution" content="Global">
        <title>Videojugeos Gratis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    </head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Piratas|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/inicio">
                            ☠| Inicio |☠
                        </button>


                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Sigue nos en:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Twitch de Pirata |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch de VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch de -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Piratas- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirata- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Para Programadores: |☠
                            </option>

                            <option value="/Aprender_ESP">
                                ☠| Estudia Programación |☠
                            </option>

                            <option value="/Pentest_1_ENG">
                                ☠| HACKING Y PENETRACIÓN DE SISTEMAS |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>

                        <button formaction="/WOT_SPAIN">
                            ☠| WOT SPAIN |☠
                        </button>

                        <button formaction="/Donaciones_ESP">
                            ☠| Donaciones |☠
                        </button>

                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/Free_GAMES_ENG">
                                English
                            </option>

                            <option value="/Free_JATEKOK_HUN">
                                Magyar
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section id="newsletter">
        <div class="container">
            <button onClick="javascript:window.open('https://www.humblebundle.com/subscription?refc=4EqVs3', '_blank');">☠| Humbel Bundle |☠</button>
            <button onClick="javascript:window.open('https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223', '_blank');">☠| Market Agent |☠</button>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
                <br />
                <h3>Estos son los videojuegos disponibles por gratis:</h3>
                <ul id="services">
                    <li>
                        <p>The Escapists: <a href="https://www.epicgames.com/store/en-US/p/the-escapists" target="_new">Epic Games</p>
                        <img src="{{ url_for('static', filename='img/free_game_1.webp')}}"></a>
                        <br />
                        <p>Disponible hasta el 2021/09/30 5:00 PM</p>
                    </li>
                </ul>
                    <!--
                    <li>
                        <p>Verdun: <a href="https://www.epicgames.com/store/en-US/p/verdun" target="_new">Epic Games</p>
                        <img src="{{ url_for('static', filename='img/free_game_2.jpg')}}"></a>
                        <p>Disponible hasta el 7/29/2021 5:00 PM</p>

                    </li>
                    -->
                </ul>
                <br />
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <h3>Nuestra programa de reclutamiento:</h3>
                <ul id="services">
                    <li>
                        <a href="https://www.warframe.com/signup?referrerId=608f479be398ec3173712972&fbclid=IwAR3yx4OKCEVLzD8ORELFsvbfNAIUwZgFR1neU3VZI_Sk3WwqfO-GNhtbNq4" target="_new">
                            Warframe
                            <center><img src="{{ url_for('static', filename='img/Referal/Warframe.png')}}"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://www.smitegame.com/play-for-free/?ref=SkyLight911" target="_new">
                            Smite
                            <br /><br /><br /><center><img src="https://webcdn.hirezstudios.com/smite-media/wp-content/uploads/2019/02/LOGO_SMITE_2016_WHITE_Shadow_500x170.png"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://www.arcgames.com/en/nw-refer-a-friend/accept?ref=MysvN3Y2ZUdnY3ZkOTF4ZVFSNW5WUT09" target="_new">
                            Neverwinter
                            <br /><br /><br /><center><img src="{{ url_for('static', filename='img/Referal/Neverwinter.png')}}"></center>
                        </a>
                        <br />
                    </li>
                    <aside id="sidebar">
                        <div class="stage" style="width: 240px; height: 120px;">
                            <div class="cubespinner">
                                <div class="face4">
                                    <center>
                                        <form class="money">
                                            <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank"><img style="border-style: none; width: 120px; height: 60px" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <li>
                        <a href="https://warthunder.com/en/registration?r=userinvite_36168577#/" target="_new">
                            Warthunder
                            <br /><br /><br /><center><img src="https://lh3.googleusercontent.com/3kpPMaNbJufSrEXIuqj_jUec8vymAa4jrIGZAhfSGU_f65_I6g6eMVKu6AApjw_p1xV1HlhUZySTDmreshR-2xLtIw"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://worldoftanks.eu/referral/ca7a3a3d185e4c1893956c99650d30c4" target="_new">
                            World Of Tanks
                            <br /><br /><br /><center><img src="{{ url_for('static', filename='img/Referal/Wot.jpg')}}"></center>
                        </a>
                        <br />
                        <center>
                            <h2>Mi clan:</h2>
                            <a href="https://eu.wargaming.net/clans/wot/500008492/" target="_blank">
                                <img src="../../../static/img/Spain_LOGO.png">
                                <h3>WOT SPAIN</h3>
                            </a>
                        </center>
                    </li>
                    <li>
                        <a href="https://warships.net/Kender21" target="_new">
                            World Of Warships
                            <br /><br /><br /><center><img src="https://cdn2.unrealengine.com/egs-worldofwarships-wargaminggrouplimited-g1c-00-1920x1080-7abaedc5acd0.jpg"></center>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </section>


    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Piratas La Web Official!|-☠</font> Diseño Web hecho por: <font color="littleblue">Pirata </font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
