<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirata">
    <meta name="copyright" content="© 2021 Cyber Piratas">
    <meta name="description" content="Cyber Piratas una web para aprender programación informática al disfrutar los videojuegos.">
    <meta name="keywords" content="cyber, twitch, reclutación, wot spain, spain clan, directo, directos, codigo limpio, limpio, youtube, live, lives, stream, streaming, pirata, piratas, software, escribir, crear, official, anonymous, c++, c mas mas, c, plus plus, c más más, c, c#, linux, coding, tutorial, tutoriales, curso, aprender, cursos, hacking, ethical, operativo, sistema, sistemas, gaming, juegos, video, vidio, vidiojuegos, live, directo, directos, livestream, java, pyhton, python3, flask, websites, diseño, diseñoweb, webdiseño, web, website, mobile application, celulares, celular, applicación, applicacion, mobile, phones, phone, app, rust, free games, juegos gratis, videojuegos gratis, vidiojuegos gratis, vidio juegos gratis, video juegos gratis, youtube, twitch, make, money, online, dinero, generar, ingresos, internet, community, comunidad, freelancer, freelancers, digital, home office, trabajo, desde, casa, trabajar, trabajo online, computadora, basics of cpp, basicos de cpp, básicos de c++, básicos de cpp, basicos de c++, cpp, g++, basics of coding, basicos de la programación, básicos de la programación, básicos de la programacion, informática, informatica, basics of programing, computing, computación, computacion, free, games, free games, gratis, open, libre, source, open source, maths, matematicas, mátemáticas, matemáticas, mathematics, physics, fisica, física, science, ciencia, fiction, ficción, ficcion, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, commandos, syntax, sintaxis, syntaxis, compile, compilador, set up, install, instalación, source, fuente, fuente de codigo, example, examples, ejemplo, ejemplos, security, seguridad, cyber, cyber security, english, inglés, beginner, principiantes, c++ para empezar,  c++ for beginners, beginners, empezar, ctf, CTF, capture the flag, capture flag, coding challenge, challange de codigo, challanges de códigos, challange de código,  challenge, pen test, penetration, pentest, penetración, penetracion, penetration testing, testing, object oriented programming, prorgamación orientada a objetos, objetos, objeto, programacion orientada a objetos, object, oriented, key logger, keylogger, key, logger, cloud, nube, hackers, cyber hackers, hactivists, hacktivism, hacktivismo, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, experimento, experimentos, ejercicio, ejercicios, bit, coin, coins, BTC, btc, invite, invitación, invitacion, gifts, regalos, regalo, gift, crypto, currency, monedas, eng, esp, hun, castellano, espanol, español, tutoriales, tutorial">
    <meta name="Subject" content="Comentarios en C++ para novatos! Curso gratis!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="es">
    <meta name="language" content="Spanish">
    <meta name="Distribution" content="Global">
    <title>Comentarios en C++</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Piratas|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/inicio">
                            ☠| Inicio |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Sigue nos en:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Twitch de Pirata |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch de VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch de -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Piratas- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirata- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Para Programadores: |☠
                            </option>

                            <option value="/Aprender_ESP">
                                ☠| Estudia Programación |☠
                            </option>

                            <option value="/Penetracion_1_ESP">
                                ☠| HACKING Y PENETRACIÓN DE SISTEMAS |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>
                        <button formaction="/Juegos_GRATIS_ESP">
                            ☠| Videojuegos Gratis |☠
                        </button>
                        <button formaction="/WOT_SPAIN">
                            ☠| WOT SPAIN |☠
                        </button>
                        <button formaction="/Donaciones_ESP">
                            ☠| Donaciones |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/CPP_3_ENG">
                                English
                            </option>

                            <option value="/CPP_3_HUN">
                                Magyar
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <select name="Lang-3" onchange="javascript:handleSelect(this)">
                <option value="#">
                    C++
                </option>
                <option value="/CPP_1_ESP">
                    Instalación
                </option>
                <option value="/CPP_2_ESP">
                    Hola Mundo!
                </option>
                <option value="/CPP_4_ESP">
                    Funciones y Exponentes! Lo básico de &lt;cmath&gt;
                </option>
            </select>
        </div>
    </section>
    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">Como crear comentarios en una programa escrita en c++?</h1>
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 240px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face2">
                                <center>
                                    <form class="money">
                                        <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank"><img style="border-style: none; width: 120px; height: 60px" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <ul id="services">
                    <li>
                        <h3>Nuestro codigo de fuente original fue:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    std::cout << "Hola Mundo!\n";
    return 0;
}
</pre>
                </ul>
                <ul id="services">
                    <li>
                        <h3>El comentario más simple es escribiendo //</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    // Nuestro primer comentario en c++!
    std::cout << "Hola Mundo!\n";// Este también es un comentario!
    return 0;//Nuestro tercero comentario!
    // Otro comentario!
}
</pre>
                        <p>Al ejecutar nuestra programa podemos ver nuestro mensage hacia al mundo diciendo: "Hola Mundo".<h1>Por lo tanto <font color="red">los comentarios no están ejecutados!</font></h1></p>
                </ul>
                <ul id="services">
                    <li>
                        <h3>Otro tipo de comentario en el ejemplo:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    /* Este
    es
    un
    comentario
    en
    multiple
    lineas!*/
    std::cout << "Hola Mundo!\n";/* Nuestro segundo
    comentario en multiples
    Lineas!
    */
    return 0;/*Nuestro tercero comentario!*/
    /*Este tipo de comentario también puede estár escrita en una linea simple!*/
}
</pre>
                        <h3><font color="red">Como la mencioné ahora los comentarios no están ejecutados al correr una programa! Solo sirven para dejar explicaciones en el fuente de codigo para los desarolladores!</font></h3>
                    </li>
                </ul>
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
            </article>
        </div>
    </section>


    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Piratas La Web Official!|-☠</font> Diseño Web hecho por: <font color="littleblue">Pirata </font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
