<!DOCTYPE html>
<html lang="hu">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirate">
    <meta name="copyright" content="© 2021 PRS">
    <meta name="description" content="Pirate Radio Show a website that teaches programing while enjoying the video games.">
    <meta name="keywords" content="hack the box, hackelés, videó játékok, videó játék, video jatek, jatek, videójáték, ingyenesen, ingyen, elérhető, ingyen elérhető, tanulj meg programozni, tanulni programozni, programozás tanulása, tanulás, tanulása, programozni, programozás, fejlesztés, software fejlesztés, tiszta kód, kód, forrás kód, forrás, nyílt forrás, nyílt forrás kód, nyilt forras kod, kod, clean code, clean, pentesztelés, penteszt, pen tesztelés, pen teszt, kiber biztonság, kiberbiztonság, kiber, védelem, kibervédelem, kiber védelem, cyber biztonság, cyber, hackerek, hackelni, anonimitás, programozás, kurzus, képzés, ingyenes, webfejlesztés, web fejlesztés, hackthebox, htb, htba, twitch, steam, epic, games, epicgames, epic games, hack, the, box, hackers, rank, rang, hackersrank, member, members, join, fun, to have fun, have fun, freely, free, fan, social, media, social media, socmedia, soc, socialmedia, htba, cyber, pirates, software, create, write, writing, official, anonymous, c++, c plus plus, c, c#, linux, coding, tutorial, tutorials, course, learn, courses, hacking, ethical, operating, system, systems, gaming, live, livestream, java, pyhton, python3, flask, websites, web, website, mobile application, mobile, phones, phone, app, applicationrust, free games, youtube, twitch, make, money, online, community, freelancer, freelancers, digital, home office, basics of cpp, cpp, g++, basics of coding, basics of programing, computing, free, games, free games, open, source, open source, maths, mathematics, physics, science, fiction, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, syntax, compile, set up, install, source, example, examples, security, cyber, cyber security, english, beginner, c++ for beginners, beginners, ctf, CTF, capture the flag, capture flag, coding challenge, challenge, pen test, penetration, pentest, penetration testing, testing, object oriented programming, object, oriented, key logger, keylogger, key, logger, cloud, hackers, cyber hackers, hactivists, hacktivism, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, bit, coin, coins, BTC, btc, invite, gifts, gift, crypto, currency, eng">
    <meta name="Subject" content="C++ Forráskód futtatása kezdőknek! Ingyenes képzés!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="hu">
    <meta name="content-language" content="hu, hun, hungarian">
    <meta name="Distribution" content="Global">
    <title>C++ kód futtatása kezdőknek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Pirates|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/index">
                            ☠| Kezdőlap |☠
                        </button>
                        <!-- class="buttons"  error itt Check mobile version with & without class--->
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Kövess minket bátran:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Twitch -Pirate- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Pirate Code- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirate- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirate- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Programozáshoz: |☠
                            </option>

                            <option value="/Programozni_HUN">
                                ☠| Tanulj meg programozni |☠
                            </option>

                            <option value="/Pentest_1_ENG">
                                ☠| HACKING & PENTESZTELÉS |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>

                        <button formaction="Free_JATEKOK_HUN">
                            ☠| Ingyenesen beszerezhető Játékok! |☠
                        </button>

                        <button formaction="/Sponzor_HUN">
                            ☠| Sponzorálás |☠
                        </button>

                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/CPP_2_ENG">
                                English
                            </option>

                            <option value="/CPP_2_ESP">
                                Español
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <select name="Lang-3" onchange="javascript:handleSelect(this)">
                <option value="#">
                    C++
                </option>
                <option value="/CPP_1_HUN">
                    Telepítés
                </option>
                <option value="/CPP_3_HUN">
                    Kommentek avagy Megjegyzések
                </option>
                <option value="/CPP_4_HUN">
                    Függvények és Hatványozás a &lt;cmath&gt; Alapjai!
                </option>
            </select>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h3 class="page-title">Hogyan futtasunk cpp fájlt Windows 10 alatt?</h3>
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 240px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face2">
                                <center>
                                    <form class="money">
                                        <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank"><img style="border-style: none; width: 120px; height: 60px" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <ul id="services">
                    <li>
                        <h3>Forrás kód:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    std::cout << "Helló Világ!\n";
    return 0;
}
</pre>
                    </li>
                </ul>
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/1.png')}}">
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face3">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/2.png')}}">
                <ul id="services">
                    <li>
                        <h3>Forrás kód ékezetekkel:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    setlocale(LC_ALL, "hun");
    std::cout << "Hello Világ!\n";
    return 0;
}
</pre>
                    </li>
                    <li>
                        <h3>C++ ban a következő kódot kell elhelyezni a main metódus elejére hogy ékezetekkel is dolgozhassunk:</h3>
                        <pre class='brush: cpp'>
    setlocale(LC_ALL, "hun");
</pre>
                    </li>
                </ul>
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/3.png')}}">
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/4.png')}}">

                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
                <h3 class="page-title">Hogyan futassunk cpp állományt Linux-on g++ -al?</h3>
                <ul id="services">
                    <li>
                        <p>
                            64 bits exe-re való fordítási parancs:<br />
                        </p>
                        <h3>g++ Any_File_1.cpp -o Any_File_1.exe -m64</h3><br />

                        <p>
                            32 bits exe-re való fordítási parancs:<br />
                        </p>
                        <h3>g++ Any_File_2.cpp -o Any_File_2.exe -m32</h3>
                    </li>
                </ul>
                <img src="{{ url_for('static', filename='img/HUN/Programozni/C++/5.png')}}">
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Pirates Hivatalos Oldala|-☠</font> Web fejlesztő: <font color="littleblue">Pirate </font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
