<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirate">
    <meta name="copyright" content="© 2021 Cyber Pirates">
    <meta name="description" content="Cyber Pirates a website that teaches programing while enjoying the video games.">
    <meta name="keywords" content="hack the box, reefer, reefering, friends, friend, recluting, clean code, clean, hackthebox, htb, htba, twitch, steam, epic, games, epicgames, epic games, hack, the, box, hackers, rank, rang, hackersrank, member, members, join, fun, to have fun, have fun, freely, free, fan, social, media, social media, socmedia, soc, socialmedia, htba, cyber, pirates, software, create, write, writing, official, anonymous, c++, c plus plus, c, c#, linux, coding, tutorial, tutorials, course, learn, courses, hacking, ethical, operating, system, systems, gaming, live, livestream, java, pyhton, python3, flask, websites, web, website, mobile application, mobile, phones, phone, app, applicationrust, free games, youtube, twitch, make, money, online, community, freelancer, freelancers, digital, home office, basics of cpp, cpp, g++, basics of coding, basics of programing, computing, free, games, free games, open, source, open source, maths, mathematics, physics, science, fiction, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, syntax, compile, set up, install, source, example, examples, security, cyber, cyber security, english, beginner, c++ for beginners, beginners, ctf, CTF, capture the flag, capture flag, coding challenge, challenge, pen test, penetration, pentest, penetration testing, testing, object oriented programming, object, oriented, key logger, keylogger, key, logger, cloud, hackers, cyber hackers, hactivists, hacktivism, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, bit, coin, coins, BTC, btc, invite, gifts, gift, crypto, currency, eng">
    <meta name="Subject" content="Free video games available for everyone!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="en">
    <meta name="language" content="English">
    <meta name="Distribution" content="Global">
    <title>Free Games!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Pirates Web|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/">
                            ☠| HOME |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Follow us on:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Pirate's Twitch |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirates- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| 4 Programmers & Developpers |☠
                            </option>

                            <option value="/Learn_ENG">
                                ☠| Let'$ Learn 2 Code |☠
                            </option>

                            <option value="/Pentest_1_ENG">
                                ☠| HACKING & PENTESTING |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>

                        <button formaction="/Donations_ENG">
                            ☠| Donations |☠
                        </button>

                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/Juegos_GRATIS_ESP">
                                Español
                            </option>

                            <option value="/Free_JATEKOK_HUN">
                                Magyar
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section id="newsletter">
        <div class="container">
            <button onClick="javascript:window.open('https://www.humblebundle.com/subscription?refc=4EqVs3', '_blank');">☠| Humbel Bundle |☠</button>
            <button onClick="javascript:window.open('https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223', '_blank');">☠| Market Agent |☠</button>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
                <br />
                <h3>These are the following games that you can get for free:</h3>
                <ul id="services">
                    <li>
                        <p>The Escapists: <a href="https://www.epicgames.com/store/en-US/p/the-escapists" target="_new">Epic Games</p>
                        <img src="{{ url_for('static', filename='img/free_game_1.webp')}}"></a>
                        <br />
                        <p>Sale ends 2021/09/30 at 5:00 PM</p>
                    </li>
                </ul>
                <!--
                <ul id="services">
                    <li>
                        <p>Verdun: <a href="https://www.epicgames.com/store/en-US/p/verdun" target="_new">Epic Games</p>
                        <img src="{{ url_for('static', filename='img/free_game_2.jpg')}}"></a>
                        <br />
                        <p>Sale ends 7/29/2021 at 5:00 PM</p>
                    </li>
                </ul>
                -->
                <br />
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <h3>Our referal Program:</h3>
                <ul id="services">
                    <li>
                        <a href="https://www.warframe.com/signup?referrerId=608f479be398ec3173712972&fbclid=IwAR3yx4OKCEVLzD8ORELFsvbfNAIUwZgFR1neU3VZI_Sk3WwqfO-GNhtbNq4" target="_new">
                            Warframe
                            <center><img src="{{ url_for('static', filename='img/Referal/Warframe.png')}}"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://www.smitegame.com/play-for-free/?ref=SkyLight911" target="_new">
                            Smite
                            <br /><br /><br /><center><img src="https://webcdn.hirezstudios.com/smite-media/wp-content/uploads/2019/02/LOGO_SMITE_2016_WHITE_Shadow_500x170.png"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://www.arcgames.com/en/nw-refer-a-friend/accept?ref=MysvN3Y2ZUdnY3ZkOTF4ZVFSNW5WUT09" target="_new">
                            Neverwinter
                            <br /><br /><br /><center><img src="{{ url_for('static', filename='img/Referal/Neverwinter.png')}}"></center>
                        </a>
                        <br />
                    </li>
                    <aside id="sidebar">
                        <div class="stage" style="width: 240px; height: 120px;">
                            <div class="cubespinner">
                                <div class="face4">
                                    <center>
                                        <form class="money">
                                            <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank"><img style="border-style: none; width: 120px; height: 60px" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <li>
                        <a href="https://warthunder.com/en/registration?r=userinvite_36168577#/" target="_new">
                            Warthunder
                            <br /><br /><br /><center><img src="https://lh3.googleusercontent.com/3kpPMaNbJufSrEXIuqj_jUec8vymAa4jrIGZAhfSGU_f65_I6g6eMVKu6AApjw_p1xV1HlhUZySTDmreshR-2xLtIw"></center>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="https://worldoftanks.eu/referral/ca7a3a3d185e4c1893956c99650d30c4" target="_new">
                            World Of Tanks
                            <br /><br /><br /><center><img src="{{ url_for('static', filename='img/Referal/Wot.jpg')}}"></center>
                        </a>
                        <br />
                        <h2>Alert: Keep in mind that I'm only inviting you to the game in order to help you to claim rewards! This is not an invitation to my clan Since my Clan only accepts fluent Spanish speaker users!</h2>
                    </li>
                    <li>
                        <a href="https://warships.net/Kender21" target="_new">
                            World Of Warships
                            <br /><br /><br /><center><img src="https://cdn2.unrealengine.com/egs-worldofwarships-wargaminggrouplimited-g1c-00-1920x1080-7abaedc5acd0.jpg"></center>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Pirates Official Website|-☠</font> Web Design by: <font color="littleblue">Pirate</font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</body>
</html>
