<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirate">
    <meta name="copyright" content="© 2021 Cyber Pirates">
    <meta name="description" content="Cyber Pirates a website that teaches programing while enjoying the video games.">
    <meta name="keywords" content="hack the box, reefer, reefering, friends, friend, recluting, clean code, clean, hackthebox, htb, htba, twitch, steam, epic, games, epicgames, epic games, hack, the, box, hackers, rank, rang, hackersrank, member, members, join, fun, to have fun, have fun, freely, free, fan, social, media, social media, socmedia, soc, socialmedia, htba, cyber, pirates, software, create, write, writing, official, anonymous, c++, c plus plus, c, c#, linux, coding, tutorial, tutorials, course, learn, courses, hacking, ethical, operating, system, systems, gaming, live, livestream, java, pyhton, python3, flask, websites, web, website, mobile application, mobile, phones, phone, app, applicationrust, free games, youtube, twitch, make, money, online, community, freelancer, freelancers, digital, home office, basics of cpp, cpp, g++, basics of coding, basics of programing, computing, free, games, free games, open, source, open source, maths, mathematics, physics, science, fiction, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, syntax, compile, set up, install, source, example, examples, security, cyber, cyber security, english, beginner, c++ for beginners, beginners, ctf, CTF, capture the flag, capture flag, coding challenge, challenge, pen test, penetration, pentest, penetration testing, testing, object oriented programming, object, oriented, key logger, keylogger, key, logger, cloud, hackers, cyber hackers, hactivists, hacktivism, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, bit, coin, coins, BTC, btc, invite, gifts, gift, crypto, currency, eng">
    <meta name="Subject" content="Cyber Pirates Official! Hacking Programming Coding Penetesting! Streaming and Gaming for a life!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="en">
    <meta name="language" content="English">
    <meta name="Distribution" content="Global">
    <title>Cyber Pirates Official</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>

<body onload="randombg()">
    <header style="z-index: 1; position: relative;">

        <nav id="services">
            <div class="container">
                <form style="z-index: 1; position: relative;">
                    <!-- class="buttons"  error itt Check mobile version with & without class--->
                    <select name="Lang-3" onchange="javascript:handleSelect(this);">
                        <option value="#">
                            Follow us on:
                        </option>

                        <option value="https://www.twitch.tv/cyberpirate98">
                            ☠| Pirate's Twitch |☠
                        </option>

                        <option value="https://www.twitch.tv/VieraGuti">
                            ☠| Twitch VieraGuti|☠
                        </option>

                        <option value="https://www.twitch.tv/legozgz">
                            ☠| Twitch -LEGO- |☠
                        </option>

                        <option value="https://www.twitch.tv/beyker1965">
                            ☠| Twitch -BEYKER- |☠
                        </option>

                        <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                            ☠| Youtube -BEYKER- |☠
                        </option>

                        <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                            ☠| Youtube -Cyber Pirates- |☠
                        </option>

                        <option value="https://www.facebook.com/Pirata1998">
                            ☠| Facebook -Cyber Pirates- |☠
                        </option>

                        <option value="https://twitter.com/cyber_pirate98">
                            ☠| Twitter -Cyber Pirates- |☠
                        </option>

                        <option value="https://www.instagram.com/CyberPirate98/">
                            ☠| Instagram -Cyber Pirates- |☠
                        </option>
                    </select>
                    <select name="Lang-3" onchange="javascript:handleSelect(this);">
                        <option value="#">
                            ☠| Chat |☠
                        </option>
                        <option value="https://s.team/chat/FVI1GpWg">
                            ☠| Steam |☠
                        </option>
                        <option value="https://discord.gg/3t82PbymUc">
                            ☠| Discord |☠
                        </option>
                    </select>
                    <select name="Lang-3" onchange="javascript:handleSelect(this);">
                        <option value="#">
                            ☠| 4 Programmers & Developpers |☠
                        </option>

                        <option value="/Learn_ENG">
                            ☠| Let'$ Learn 2 Code |☠
                        </option>

                        <option value="/Pentest_1_ENG">
                            ☠| HACKING & PENTESTING |☠
                        </option>

                        <option value="https://github.com/Oscuras98/">
                            ☠| GitHUB |☠
                        </option>
                    </select>

                    <button formaction="Free_GAMES_ENG">
                        ☠| Free Games 4 Everyone! |☠
                    </button>

                    <button formaction="/Donations_ENG">
                        ☠| Donations |☠
                    </button>
                    <select name="Lang-3" onchange="javascript:handleSelect(this)">
                        <option value="#">
                            Languages-Lenguaje-Nyelvek
                        </option>

                        <option value="/inicio">
                            Español
                        </option>

                        <option value="/index">
                            Magyar
                        </option>
                    </select>
                </form>
            </div>
        </nav>
    </header>

    <section id="showcase">
        <div id="particles-js"></div>
        <div class="container">

            <div class="autotype">
                <span>
                    <font color="red">root</font>
                    <font color="yellow">@</font>
                    <font color="littleblue">startcoding:</font>
                    <font color="green">~</font>
                    <font color="yellow">#</font>
                    <font color="green">
                        <span id="autotype">
                            ☠ Wellcome to all Hackers To The Cyber Pirates Official Website!☠
                            <!-- Auto escribir texto aqui-->
                        </span>
                    </font>
                </span>
            </div>
            <section id="main">
                <div class="ctn">
                    <ul id="services">
                        <center>
                            <li>
                                <section id="imgrot">
                                    <div class="carousel_wrapper">
                                        <div class="carousel">
                                            <div class="slide one">
                                                <a href="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g"
                                                    target="blank_">
                                                    <img
                                                        src="{{ url_for('static', filename='img/yt_logo_rgb_light.png')}}">
                                                </a>
                                            </div>
                                            <div class="slide two">
                                                <a href="https://www.facebook.com/Pirata1998"
                                                    target="blank_">
                                                    <img
                                                        src="{{ url_for('static', filename='img/f_logo_RGB-Blue_58.png')}}">
                                                </a>
                                            </div>
                                            <div class="slide three">
                                                <a href="https://www.twitch.tv/cyberpirate98" target="blank_">
                                                    <!-- Ha vita lenne class="yourlink" és a href="#"-->
                                                    <img
                                                        src="{{ url_for('static', filename='img/Twitch_Purple_RGB.png')}}">
                                                </a>
                                            </div>
                                            <div class="slide four">
                                                <a href="https://twitter.com/cyber_pirate98" target="blank_">
                                                    <img
                                                        src="{{ url_for('static', filename='img/Twitter_Logo_Blue.png')}}">
                                                </a>
                                            </div>
                                            <div class="slide fifth">
                                                <a href="https://www.mixcloud.com/redsky98/" target="blank_">
                                                    <img
                                                        src="{{ url_for('static', filename='img/BlackOnTransparent.png')}}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                        </center>
                    </ul>
                </div>
            </section>
        </div>
    </section>
<!--
    <section id="newsletter">
        <div class="container">
            <center>
                <div style="z-index: 1; position: relative;">
                    
                    <audio controls="true" preload="none">
                        <source src="https://pirateradioshow.net:80/;stream.mp3">
                    </audio>
                    
                </div>
            </center>
        </div>
    </section>
-->
    <section id="boxes">
        <div class="container">
            <div class="box">
                <div class="dark">
                    <a href="https://www.twitch.tv/cyberpirate98" target="blank_">
                        <img src="../../../static/img/Pirate.png">
                        <h3>Cyber Pirate</h3>
                    </a>
                    <p>Hit like and follow and share!</p>
                </div>
            </div>
            <aside id="sidebar">
                <div class="stage" style="width: 120px; height: 120px;">
                    <div class="cubespinner">
                        <div class="face1">
                            <center>
                                <form class="money">
                                    <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="
                                        _new"><img style="border-style: none; width: 120px; height: 60px"
                                            src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="box">
                <div class="dark">
                    <a href="https://www.twitch.tv/VieraGuti" target="blank_">
                        <img src="../../../static/img/Guti.png">
                        <h3>VieraGuti</h3>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="dark">
                    <a href="https://eu.wargaming.net/clans/wot/500008492/" target="_blank">
                        <img src="../../../static/img/Spain_LOGO.png">
                        <h3>WOT SPAIN</h3>
                    </a>
                    <p>
                        This clan only accepts Spanish speakers however you can allways be our alied member in cases of
                        Clan
                        Wars but make sure to ask our leader!
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="dark">
                    <div style="z-index: 1; position: relative;">
                        <a href="https://www.twitch.tv/legozgz" target="_blank"><img
                                src="../../../static/img/lego.jpg" />
                            <h3>LEGO</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="dark">
                    <div style="z-index: 1; position: relative;">
                        <a href="https://www.twitch.tv/beyker1965" target="_blank"><img
                                src="../../../static/img/beyker.png" />
                            <h3>BEYKER</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="light">
                <a href="https://steamcommunity.com/id/Pirate_Code/" target="_blank"><img
                        src="http://steam.mmosvc.com/76561198081563991/v1.png" alt="76561198081563991" /></a>
            </div>
            <div class="light">
                <a href="https://steamcommunity.com/id/Angelviera/" target="_blank"><img
                        src="http://steam.mmosvc.com/76561198281726837/v1.png" alt="76561198281726837" /></a>
            </div>
            <aside id="sidebar">
                <div class="stage" style="width: 240px; height: 120px;">
                    <div class="cubespinner">
                        <div class="face2">
                            <center>
                                <form class="money">
                                    <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
                                        target="_blank"><img style="border-style: none; width: 120px; height: 60px"
                                            src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
                                            alt="DigitalOcean Referral Badge" /></a>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Pirates Official Website|-☠</font> Web Design by: <font color="littleblue">Pirate</font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
    <!-- Todos los scripts aqui abajo:-->
    <script type="application/ld+json"
        src="{{ url_for('static', filename='scripts/particlesjs-config.json')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/landing.min.js')}}"></script>

    <script>
        var typed = new Typed('#autotype', {
            strings: [, "./wellcome.exe", "☠ Wellcome To The Cyber Pirates Official Website! ☠", "mono wellcome.exe", "☠ Wellcome To The Cyber Pirates Official Website! ☠", "javac wellcome.java", "sudo java wellcome", "☠ Wellcome To The Cyber Pirates Official Website! ☠", "sudo su", "sudo parrot-upgrade -y", "c++ backdoor.cpp -o backdoor.exe -m64", "sudo touch something.cpp", "javap -c -verbose proton.class", "irb", "jshell", "mkdir new_folder", "cd ..", "chmod +x cyber_pirates.deb", "sudo dpkg -i cyber_pirates.deb -y", "g++ safety.cpp -o safety.exe -m64", "sudo apt install program", "nano malware.rust", "cat main.py", "sudo pip3 install bs4", "perl --version", "htop", "sudo apt install mc", "sudo mc", "pwd", "sudo mv session.py rename.py", "pwd", "mono drone.exe", "Hello World!", "rustc --version", "int i = 12;", "./cracking.exe", "import java.util.Scanner;", "iwconfig", "sudo apt install -y tilix"],
            typeSpeed: 75,
            backSpeed: 30,
            loop: true
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            src: '/static/scripts',
            success: function (response) {
                $("#usercount").empty().append(response.users);
                $("#machinecount").empty().append(response.machines);
                $("#challengecount").empty().append(response.challenges);
            }
        });
    </script>
</body>

</html>