<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Pirata">
        <meta name="copyright" content="© 2021 Cyber Piratas">
        <meta name="description" content="Cyber Piratas una web para aprender programación informática al disfrutar los videojuegos.">
        <meta name="keywords" content="cyber, recultación, clan,reefer friends, reefer, reefering friend, reefer friend, reefering friends, friend, friends, amigos, amgio, reclutación al clan spain, reclutación wot spain, twitch, codigo limpio, limpio, directo, directos, world, of, tanks, wot, world of tanks, youtube, live, lives, stream, streaming, pirata, piratas, software, escribir, crear, official, anonymous, c++, c mas mas, c, plus plus, c más más, c, c#, linux, coding, tutorial, tutoriales, curso, aprender, cursos, hacking, ethical, operativo, sistema, sistemas, gaming, juegos, video, vidio, vidiojuegos, live, directo, directos, livestream, java, pyhton, python3, flask, websites, diseño, diseñoweb, webdiseño, web, website, mobile application, celulares, celular, applicación, applicacion, mobile, phones, phone, app, rust, free games, juegos gratis, videojuegos gratis, vidiojuegos gratis, vidio juegos gratis, video juegos gratis, youtube, twitch, make, money, online, dinero, generar, ingresos, internet, community, comunidad, freelancer, freelancers, digital, home office, trabajo, desde, casa, trabajar, trabajo online, computadora, basics of cpp, basicos de cpp, básicos de c++, básicos de cpp, basicos de c++, cpp, g++, basics of coding, basicos de la programación, básicos de la programación, básicos de la programacion, informática, informatica, basics of programing, computing, computación, computacion, free, games, free games, gratis, open, libre, source, open source, maths, matematicas, mátemáticas, matemáticas, mathematics, physics, fisica, física, science, ciencia, fiction, ficción, ficcion, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, commandos, syntax, sintaxis, syntaxis, compile, compilador, set up, install, instalación, source, fuente, fuente de codigo, example, examples, ejemplo, ejemplos, security, seguridad, cyber, cyber security, english, inglés, beginner, principiantes, c++ para empezar,  c++ for beginners, beginners, empezar, ctf, CTF, capture the flag, capture flag, coding challenge, challange de codigo, challanges de códigos, challange de código,  challenge, pen test, penetration, pentest, penetración, penetracion, penetration testing, testing, object oriented programming, prorgamación orientada a objetos, objetos, objeto, programacion orientada a objetos, object, oriented, key logger, keylogger, key, logger, cloud, nube, hackers, cyber hackers, hactivists, hacktivism, hacktivismo, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, experimento, experimentos, ejercicio, ejercicios, bit, coin, coins, BTC, btc, invite, invitación, invitacion, gifts, regalos, regalo, gift, crypto, currency, monedas, eng, esp, hun, castellano, espanol, español, tutoriales, tutorial">
        <meta name="Subject" content="World Of Tanks Clan SPAIN!">
        <meta name="expires" content="never" />
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
        <meta http-equiv="content-language" content="es">
        <meta name="language" content="Spanish">
        <meta name="Distribution" content="Global">
        <title>WOT SPAIN</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    </head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Piratas|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/inicio">
                            ☠| Inicio |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Sigue nos en:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Twitch de Pirata |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch de VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch de -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube de -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Piratas- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirata- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirata- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Para Programadores: |☠
                            </option>

                            <option value="/Aprender_ESP">
                                ☠| Estudia Programación |☠
                            </option>

                            <option value="/Pentest_1_ENG">
                                ☠| HACKING Y PENETRACIÓN DE SISTEMAS |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>

                        <button formaction="/Juegos_GRATIS_ESP">
                            ☠| Videojuegos Gratis |☠
                        </button>
                        <button formaction="/Donaciones_ESP">
                            ☠| Donaciones |☠
                        </button>

                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/Free_GAMES_ENG">
                                English
                            </option>

                            <option value="/Free_JATEKOK_HUN">
                                Magyar
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section id="newsletter">
        <div class="container">
            <button onClick="javascript:window.open('https://www.humblebundle.com/subscription?refc=4EqVs3', '_blank');">☠| Humbel Bundle |☠</button>
            <button onClick="javascript:window.open('https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223', '_blank');">☠| Market Agent |☠</button>
            <button onClick="javascript:window.open('https://www.twitch.tv/pirateradioshow98', '_blank');">☠| Twitch de nuestra web |☠</button>
            <button onClick="javascript:window.open('https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g', '_blank');">☠| Youtube de nuestra web |☠</button>
            <button onClick="javascript:window.open('https://www.twitch.tv/beyker1965', '_blank');">☠| Twitch de Beyker |☠</button>
            <button onClick="javascript:window.open('https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg', '_blank');">☠| Youtube de Beyker |☠</button>
            <button onClick="javascript:window.open('https://www.twitch.tv/legozgz', '_blank');">☠| Twitch de Lego |☠</button>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
                <br />
                <ul id="services">
                    <li>
                        <a href="https://worldoftanks.eu/referral/ca7a3a3d185e4c1893956c99650d30c4" target="_new">
                            World Of Tanks
                            <br /><br /><br /><center><img src="{{ url_for('static', filename='img/Referal/Wot.jpg')}}"></center>
                        </a>
                        <h2>Si aún no juegas el Clan Spain te da la bienvenida al juego! Registra y descarga el juego atravéz de este <a href="https://worldoftanks.eu/referral/ca7a3a3d185e4c1893956c99650d30c4" target="_new">link</a>! Applica al clan hoy!</h2>
                    </li>
                    <li>
                        <center>
                            <h2>Mi clan:</h2>
                            <a href="https://eu.wargaming.net/clans/wot/500008492/" target="_blank">
                                <img src="../../../static/img/Spain_LOGO.png">
                                <h3>WOT SPAIN</h3>
                            </a>
                        </center>
                    </li>
                    <h2>Videos:</h2>
                    <li>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ofttln6b658" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                </ul>
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
            </article>
        </div>
    </section>


    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Piratas La Web Official!|-☠</font> Diseño Web hecho por: <font color="littleblue">Pirata </font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
