<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Pirate">
    <meta name="copyright" content="© 2021 Cyber Pirates">
    <meta name="description" content="Cyber Pirates a website that teaches programing while enjoying the video games.">
    <meta name="keywords" content="hack the box, reefer, reefering, friends, friend, recluting, clean code, clean, hackthebox, htb, htba, twitch, steam, epic, games, epicgames, epic games, hack, the, box, hackers, rank, rang, hackersrank, member, members, join, fun, to have fun, have fun, freely, free, fan, social, media, social media, socmedia, soc, socialmedia, htba, cyber, pirates, software, create, write, writing, official, anonymous, c++, c plus plus, c, c#, linux, coding, tutorial, tutorials, course, learn, courses, hacking, ethical, operating, system, systems, gaming, live, livestream, java, pyhton, python3, flask, websites, web, website, mobile application, mobile, phones, phone, app, applicationrust, free games, youtube, twitch, make, money, online, community, freelancer, freelancers, digital, home office, basics of cpp, cpp, g++, basics of coding, basics of programing, computing, free, games, free games, open, source, open source, maths, mathematics, physics, science, fiction, sience fiction, windows, microsoft, visual studio, visual, studio, source code, commands, syntax, compile, set up, install, source, example, examples, security, cyber, cyber security, english, beginner, c++ for beginners, beginners, ctf, CTF, capture the flag, capture flag, coding challenge, challenge, pen test, penetration, pentest, penetration testing, testing, object oriented programming, object, oriented, key logger, keylogger, key, logger, cloud, hackers, cyber hackers, hactivists, hacktivism, steam, steam punks, punks, punk , steam punk, epic games, epic, GeForce Now, Nvidia, nvidia, NVIDIA, NVidia, geforce, geforce now, exercise, exercises, experiment, experiments, bit, coin, coins, BTC, btc, invite, gifts, gift, crypto, currency, eng">
    <meta name="Subject" content="Learn to make comments in C++ tutorial for beginners!">
    <meta name="expires" content="never" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="google-site-verification" content="UMBwmsZQFss_tZhxUd4JMSZglv7_XytJHEbeKGM2b4Q" />
    <meta http-equiv="content-language" content="en">
    <meta name="language" content="English">
    <meta name="Distribution" content="Global">
    <title>Comments in C++ for beginners</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">☠-|Cyber Pirates Web|-☠</span></h1>
            </div>
            <nav id="services">
                <div class="container">
                    <form>
                        <button formaction="/">
                            ☠| HOME |☠
                        </button>
                        <!-- class="buttons"  error itt Check mobile version with & without class--->
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                Follow us on:
                            </option>
    
                            <option value="https://www.twitch.tv/cyberpirate98">
                                ☠| Pirate's Twitch |☠
                            </option>
    
                            <option value="https://www.twitch.tv/VieraGuti">
                                ☠| Twitch VieraGuti|☠
                            </option>
    
                            <option value="https://www.twitch.tv/legozgz">
                                ☠| Twitch -LEGO- |☠
                            </option>
    
                            <option value="https://www.twitch.tv/beyker1965">
                                ☠| Twitch -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UC6JWt6KSex34qH7rpokdTpg">
                                ☠| Youtube -BEYKER- |☠
                            </option>
    
                            <option value="https://www.youtube.com/channel/UCmd2roksoxIvMrE8R8p6u3g">
                                ☠| Youtube -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://www.facebook.com/Pirata1998">
                                ☠| Facebook -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://twitter.com/cyber_pirate98">
                                ☠| Twitter -Cyber Pirates- |☠
                            </option>
    
                            <option value="https://www.instagram.com/CyberPirate98/">
                                ☠| Instagram -Cyber Pirates- |☠
                            </option>
                        </select>
                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| Chat |☠
                            </option>
                            <option value="https://s.team/chat/FVI1GpWg">
                                ☠| Steam |☠
                            </option>
                            <option value="https://discord.gg/3t82PbymUc">
                                ☠| Discord |☠
                            </option>
                        </select>

                        <select name="Lang-3" onchange="javascript:handleSelect(this);">
                            <option value="#">
                                ☠| 4 Programmers & Developpers |☠
                            </option>

                            <option value="/Learn_ENG">
                                ☠| Let'$ Learn 2 Code |☠
                            </option>

                            <option value="/Pentest_1_ENG">
                                ☠| HACKING & PENTESTING |☠
                            </option>

                            <option value="https://github.com/Oscuras98/">
                                ☠| GitHUB |☠
                            </option>
                        </select>

                        <button formaction="Free_GAMES_ENG">
                            ☠| Free Games 4 Everyone! |☠
                        </button>

                        <button formaction="/Donations_ENG">
                            ☠| Donations |☠
                        </button>
                        <select name="Lang-3" onchange="javascript:handleSelect(this)">
                            <option value="#">
                                Languages-Lenguaje-Nyelvek
                            </option>

                            <option value="/CPP_3_ESP">
                                Español
                            </option>

                            <option value="/CPP_3_HUN">
                                Magyar
                            </option>
                        </select>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <select name="Lang-3" onchange="javascript:handleSelect(this)">
                <option value="#">
                    C++
                </option>
                <option value="/CPP_1_ENG">
                    Installation
                </option>
                <option value="/CPP_2_ENG">
                    Hello World
                </option>
                <option value="/CPP_4_ENG">
                    Functions and exponents! Basics of &lt;cmath&gt;
                </option>
            </select>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h3 class="page-title">How to comment something in a cpp file?</h3>
                <br />
                <aside id="sidebar">
                    <div class="stage" style="width: 240px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face2">
                                <center>
                                    <form class="money">
                                        <a href="https://www.digitalocean.com/?refcode=2828498cd87d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank"><img style="border-style: none; width: 120px; height: 60px" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <ul id="services">
                    <li>
                        <h3>Our original source code was the following in my previous example:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    std::cout << "Hello World!\n";
    return 0;
}
</pre>
                    </li>
                </ul>
                <ul id="services">
                    <li>
                        <h3>The simpliest way to make a comment is by typing //</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    // This is our first comment!
    std::cout << "Hello World!\n";// This is our second comment!
    return 0;//This is our Third comment!
    //This is our fourth comment!
}
</pre>
                        <p>As you can see after execution we can only see our Hello World message.<h1>Therefore <font color="red">comments are not executed!</font></h1></p>
                    </li>
                </ul>
                <ul id="services">
                    <li>
                        <h3>Our second way to make a comment is displayed in the following example:</h3>
                        <pre class='brush: cpp'>
#include &lt;iostream&gt;
int main()
{
    /* Just
    another
    comment
    in
    multiple
    lines!*/
    std::cout << "Hello World!\n";/* This is our
    second multi line comment!
    */
    return 0;/*This is our Third comment!*/
    /*This type of comment can still be just a single line!*/
}
</pre>
                        <h3><font color="red">As I just mentioned comments are not executed!</font></h3>
                    </li>
                </ul>
                <aside id="sidebar">
                    <div class="stage" style="width: 120px; height: 120px;">
                        <div class="cubespinner">
                            <div class="face1">
                                <center>
                                    <form class="money">
                                        <a href="https://panel.marketagent.com/Register/Account/NewRegistration/en-US?RefUID=3145223 target="_new"><img style="border-style: none; width: 120px; height: 60px" src="http://www.marketagent.com/MA_WebResources/pic/banner/120x60_Marketagent_weiss_US.gif"></a>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                </aside>
                <br />
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <div id="branding">
                <h2>
                    <font color="green">☠-|Cyber Pirates Official Website|-☠</font> Web Design by: <font color="littleblue">Pirate</font>&copy;
                    2021
                </h2>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>
